<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Steamer</title>
</head>
<body>
<h3>Twitter Streamer</h3>
<h5>Author Isha Goel</h5>
<hr/>
<h3>Register Hashtag</h3>
<form action="." method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Add Hashtag">
</form>
<h3>Your hashtag is registered successfully..!!</h3>
</body>
</html>