<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Steamer</title>
    <script src="{{STATIC_URL}}jquery.min.js"></script>

</head>
<body>
<h3>Twitter Streamer</h3>
<h5>Author Isha Goel</h5>
<hr/>
<h3>Register Hashtag</h3>
<form id="hash-tag-form" onsubmit="saveHashTag(); return false;">
    {% csrf_token %}
    {{form.as_p}}
    <button onclick="saveHashTag(); return false;">Save Hashtags</button>
</form>
<br/>
    <i id="hash-tag-messgae"></i>
<hr/>
<h3>Tracking Following Hashtags</h3>
{{cur_tags}}
<hr/>
<h3>Stats</h3>

    <div id="stats-box" style="border: 1px solid grey;padding-left:15%; padding-right:15%; padding-top:2%;; padding-bottom:2%;">
    crunched {{total_tweet}} tweets and {{total_user}} users                        |
             |                      most tweets were by user: @{{max_user.author}}
    </div>
<script src="{{ STATIC_URL }}js/ws4redis.js" type="text/javascript"></script>
<script>
var saveHashTag = function() {
    $.post('/', $('#hash-tag-form').serialize(), function(response) {
        $('#hash-tag-messgae').html(response);
    })
}

jQuery(document).ready(function($) {
	var ws4redis = WS4Redis({
		uri: '{{ WEBSOCKET_URI }}foobar?subscribe-broadcast&publish-broadcast&echo',
		receive_message: receiveMessage,
		heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
	});
	var billboard = $('#billboard');
	// send message though the Websocket to the server
	$("#text_message").keydown(function(event) {
		if (event.keyCode === 13) {
			event.preventDefault();
			ws4redis.send_message($('#text_message').val());
		}
	});
	$('#send_message').click(function() {
		ws4redis.send_message($('#text_message').val());
	});
	// receive a message though the Websocket from the server
	function receiveMessage(msg) {
		billboard.append('<br/>' + msg);
		billboard.scrollTop(billboard.scrollTop() + 25);
	}
});
</script>

</body>
</html>